version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "8000:8000"
    depends_on:
      - db