.back {
    background: #f8f8f8;
    border: 3px dashed #f0f0f0;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 5px 2px;
    cursor: pointer;
}

.back:hover{
    border: 3px dashed deepskyblue;
}

